@import "../../../assets/style/colors.scss";

.date-picker {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  margin-top: 15px;

  & > * {
    margin: 5px;
    font-size: 12px;
    color: $unfocused-color;
  }

  & > .date {
    width: 24px;
    height: 24px;
  }
}
