@import "../../../assets/style/colors.scss";

.date-picker {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  margin-top: 15px;

  & > * {
    margin: 5px;
    font-size: 12px;
    color: $unfocused-color;
  }

  .date {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    cursor: pointer;
    clip-path: circle();

    &:hover {
      clip-path: circle();
      background-color: lighten($unfocused-color, 50%);
    }
  }

  .bold {
    color: $text-color;
    font-weight: 600;
  }

  .today {
    color: white;
    background-color: $primary-color;
    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }

  .active {
    color: $primary-color;
    background-color: $active-date-color;
    &:hover {
      background-color: darken($active-date-color, 10%);
    }
  }
}
