.month-controller {
  align-items: center;
  min-width: 250px;

  .today-btn {
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 40px;
    background-color: white;
    border: 0.5px solid grey;
    font-size: 12px;
    border-radius: 5px;
    cursor: pointer;
    margin: 8px;
  }

  .month-move-container {
    margin: 10px;
  }

  .year-month-container {
    margin: 10px;
  }
}
